<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemAdministrationModule.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SystemAdministrationModule.Settings>
            <setting name="env" serializeAs="String">
                <value>dev</value>
            </setting>
            <setting name="timeBlockingLogin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="timeBlockingInactive" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Ustawienie" serializeAs="String">
                <value>asd</value>
            </setting>
            <setting name="Ustawienie1" serializeAs="String">
                <value>asd</value>
            </setting>
            <setting name="dbstring" serializeAs="String">
                <value>Server=(localdb)\Local;Initial Catalog=doctor;Integrated Security=True;
</value>
            </setting>
        </SystemAdministrationModule.Settings>
    </userSettings>
</configuration>